     |     |
-----|-----|
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | <%= PAGING_PARAMETERS %>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [UpdateRequest objects](#updaterequest-object) limited to the following attributes:<ul><li>**id**</li><li>**ccMe**</li><li>**createdAt**</li><li>**message**</li><li>**modifiedAt**</li><li>**schedule**</li><li>**sendTo**</li><li>**sentBy**</li><li>**subject**</li></ul>
<%= SCOPE %> | READ_SHEETS
