     |     |
-----|-----|
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | <%= PAGING_PARAMETERS %>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [SentUpdateRequest objects](#sentupdaterequest-object) limited to the following attributes:<ul><li>**id**</li><li>**message**</li><li>**sendTo**</li><li>**sentAt**</li><li>**sentBy**</li><li>**status**</li><li>**subject**</li><li>**updateRequestId**</li></ul>
<%= SCOPE %> | READ_SHEETS
